.flag-size {
  width: 300px;
  height: 200px;
  display: inline-block;
  margin-right: 20px;
  border: solid 2px black;
  text-align: center;
}

.display {
  display: inline-block;
}
.austria {
  background: linear-gradient(
    to top,
    red 0% 33.33%,
    white 33.33% 66.66%,
    red 66.66% 100%
  );
}

.belgium {
  background: linear-gradient(
    to right,
    black 0% 33.33%,
    yellow 33.33% 66.66%,
    red 66.66% 100%
  );
}

.benin {
  background: linear-gradient(to right, green 0% 40%);
}
.benin-2 {
  width: 180px;
  height: 200px;
  background: linear-gradient(to top, red 0% 50%, yellow 50% 100%);
  float: right;
}

.buddhism {
  background: linear-gradient(
    to right,
    blue 0% 16.66%,
    yellow 16.66% 33.33%,
    red 33.33% 50%,
    white 50% 66.66%,
    orange 66.66% 83.33%
  );
}

.buddhism-2 {
  width: 50px;
  height: 200px;
  background: linear-gradient(
    to top,
    orange 0% 20%,
    white 20% 40%,
    red 40% 60%,
    yellow 60% 80%,
    blue 80% 100%
  );
  float: right;
}
